@model IEnumerable<MiddleEducationPlan.Web.Models.ProjectModel>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Projects</h1>

<p>
    @Html.ActionLink("Create new", "Create", new { /* id=item.PrimaryKey */ })
</p>
<table class="table text-center" id="projectTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProjectType)
            </th>
            <th>
                Created at
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Timestamp)*@
                    <span>@item.CreatedAt.ToString("M'/'d'/'yyyy hh:mm")</span>
                </td>
                <td>
                    <button class="btn btn-primary" onclick="updateProject(this)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="showDeleteDialog(this)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Project/Index.js"></script>
<script src="~/Project/Common.js"></script>


