@model IEnumerable<MiddleEducationPlan.BusinessLogic.TableEntities.ProjectEntity>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Projects</h1>

<p>
    @Html.ActionLink("Create new", "Create", new { /* id=item.PrimaryKey */ })
</p>
<table class="table" id="projectTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
            //$(document).ready(function () {
            //    console.log("ready!");

            //    $("#projectTable").hide();
            //    setTimeout(() => {
            //        $("#projectTable").show();
            //    }, 3000);
            //});
    </script>
}
